<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="/src/css/certificate.css" rel="stylesheet">
	</head>
	<body>
		<div id="frame">
			<div id="heading">NÜ Tugiõpilaste Oma Ring Eestis</div>
			<div id="certificate">TUNNISTUS</div>
			<div id="certificate_number">mingi number</div>
			<div id="name">{{name}}</div>
			<div id="info">On läbinud T.O.R.E <span id="theme">selle teemalise</span> koolituse mahus <span id="duration">X</span> tundi perioodil <span id="period">mingi periood</span>.</div>
			<div id="date">Kuupäev</div>
			<div id="lecturers">Koolitajad</div>
			<div id="somebody">Väljastaja</div>
			<div id="ending">Noorteühing T.O.R.E</div>	
		</div>	
	</body>
</html>