#frame {
	margin-bottom: 0px;
	
	border-width: 15px;
	border-style: solid;
    border-color: #98bf21;
}

#heading {
	margin-top: 100px;
	text-align: center;
	
	font-size: 20px;
	color: #000000;
}

#certificate {
	margin-top: 30px;
	text-align: center;
	
	font-style: italic;
	font-size: 70px;
	color: #ffb6c1;
}
.center {
	text-align: center;
}

#certificate_number{
	text-align: center;
	
	font-size: 15px;
	color: #000000;
}

#name {
	margin-top: 50px;
	text-align: center;
	
	font-size: 60px;
	color: #ffb6c1;
}

#info {
	margin-top: 40px;
	text-align: center;
	
	font-size: 20px;
	color: #000000;
}

#date {
	margin-top: 50px;
	margin-left: 70px;
	text-align: left;
	
	font-size: 20px;
	color: #000000;
}

#lecturers {
	margin-right: 70px;
	text-align: right;
	
	font-size: 20px;
	color: #000000;
}

#somebody {
	margin-top: 10px;
	margin-left: 70px;
	text-align: left;
	
	font-size: 20px;
	color: #000000;
}

#ending {
	margin-top: 200px;
	margin-left: 70px;
	margin-bottom: 30px;
	text-align: left;
	
	font-size: 20px;
	color: #000000;
}